version: 2

jobs:
  build-and-test-sdk:
    macos:
      xcode: "12.1"
    steps:
      - checkout
      - run:
          name: Run Tests iOS14
          command: xcodebuild test -project VGSCollectSDK.xcodeproj -scheme FrameworkTests -destination 'platform=iOS Simulator,name=iPhone 12,OS=14.2'
          

workflows:
  version: 2
  build-and-test:
    jobs:
      - build-and-test-sdk
