version: 2
jobs:
  build-and-test-sdk:
    macos:
      xcode: "12.0"
    steps:
      - checkout
      - run:
          name: Run Tests
          command: fastlane scan
          environment:
            SCAN_DEVICE: iPhone 8
            SCAN_SCHEME: VGSCollectSDK

workflows:
  version: 2
  build-and-test:
    jobs:
      - build-and-test-sdk
