name: security-scan-sast

on:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: '30 5 * * *' # Sets Semgrep to scan every day at 5:30 UTC

jobs:
  scan:
    uses: verygood-ops/cicd-shared/.github/workflows/security-scan-sast.yaml@5540b0fc76a2fc46814ef2d88034fde6d7876c85 # security-scan-sast-v2.0.8
    secrets:
      SEMGREP_APP_TOKEN: ${{ secrets.SEMGREP_APP_TOKEN }}
